<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PrimeDesc</key>
		<string>装修服务</string>
		<key>PrimeIcon</key>
		<string>DecorationService</string>
		<key>MinorDesc</key>
		<array>
			<string>设计费</string>
			<string>施工费</string>
			<string>监理费</string>
			<string>管理费</string>
			<string>环境检测费</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>水电工程</string>
		<key>PrimeIcon</key>
		<string>WaterElectricity</string>
		<key>MinorDesc</key>
		<array>
			<string>电线</string>
			<string>电线管</string>
			<string>布线箱</string>
			<string>电工配件</string>
			<string>水管</string>
			<string>水管配件</string>
			<string>开关插座</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>厨房工程</string>
		<key>PrimeIcon</key>
		<string>Kitchen</string>
		<key>MinorDesc</key>
		<array>
			<string>整体橱柜</string>
			<string>橱柜配件</string>
			<string>集成吊顶</string>
			<string>吊顶配件</string>
			<string>水槽</string>
			<string>龙头</string>
			<string>厨房挂件</string>
			<string>油烟机</string>
			<string>燃气灶</string>
			<string>热水器</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>卫浴工程</string>
		<key>PrimeIcon</key>
		<string>Bathroom</string>
		<key>MinorDesc</key>
		<array>
			<string>浴缸</string>
			<string>马桶</string>
			<string>花洒</string>
			<string>淋浴房</string>
			<string>地漏</string>
			<string>浴室柜</string>
			<string>集成吊顶</string>
			<string>五金挂件</string>
			<string>龙头</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>灯具照明</string>
		<key>PrimeIcon</key>
		<string>Light</string>
		<key>MinorDesc</key>
		<array>
			<string>吊灯</string>
			<string>吸顶灯</string>
			<string>射灯</string>
			<string>台灯</string>
			<string>灯带</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>地面墙面</string>
		<key>PrimeIcon</key>
		<string>Floor</string>
		<key>MinorDesc</key>
		<array>
			<string>地板</string>
			<string>瓷砖</string>
			<string>踢脚线</string>
			<string>墙纸</string>
			<string>油漆</string>
			<string>乳胶漆</string>
			<string>防水涂料</string>
			<string>腻子粉</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>门窗工程</string>
		<key>PrimeIcon</key>
		<string>Window</string>
		<key>MinorDesc</key>
		<array>
			<string>室内房门</string>
			<string>入户门</string>
			<string>门套线条</string>
			<string>移门</string>
			<string>窗户</string>
			<string>拉手</string>
			<string>铰链</string>
			<string>合页</string>
			<string>门吸</string>
			<string>锁具</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>成品家具</string>
		<key>PrimeIcon</key>
		<string>Furniture</string>
		<key>MinorDesc</key>
		<array>
			<string>沙发</string>
			<string>茶几</string>
			<string>电视柜</string>
			<string>床</string>
			<string>床垫</string>
			<string>床头柜</string>
			<string>餐桌</string>
			<string>餐椅</string>
			<string>餐边柜</string>
			<string>书柜</string>
			<string>书桌</string>
			<string>电脑椅</string>
			<string>儿童床</string>
			<string>儿童桌</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>PrimeDesc</key>
		<string>摆件配饰</string>
		<key>PrimeIcon</key>
		<string>Artwork</string>
		<key>MinorDesc</key>
		<array>
			<string>床上用品</string>
			<string>花瓶</string>
			<string>装饰画</string>
			<string>窗帘</string>
		</array>
	</dict>
</array>
</plist>
